<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>Manage Users</h2></div>
    <div>
        <a class="h3 m-2" th:href="@{/users/new}">Add new user</a>
    </div>
    <div th:if = "${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>firstName</th>
                <th>lastName</th>
                <th>patronymic</th>
                <th>programs</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            <th:block th:each ="protocol:${listProtocols}">
                <tr>
                    <td>[[${protocol.id}]]</td>
                        <td>
                            <p th:each="employee : ${protocol.employees}">
                                <span th:text="${employee.id}">id</span>
                                <span th:text="${employee.firstName}">City</span>
                                <span th:text="${employee.lastName}">ZIP</span>
                                <span th:text="${employee.patronymic}">State</span>
                            </p>
                        </td>
                    <td>[[${protocol.dateOfExamination}]]</td>
                    <td>[[${protocol.chairman}]]</td>
                    <td>[[${protocol.oneMemberOfCommission}]]</td>
                    <td>[[${protocol.twoMemberOfCommission}]]</td>
                    <td>[[${protocol.threeMemberOfCommission}]]</td>
                    <td>[[${protocol.fourMemberOfCommission}]]</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>